*{
  margin: 0;
  padding: 0;
  font-family: "Nunito", Helvetica, Arial, sans-serif;
}

body{
background-color: #1e4ed3;
background-repeat: no-repeat;
background-size: cover;
}
li{
  list-style-type: none;
}

.menu-bg {
	background: #07328d;
}

.menu {
	max-width: 960px;
	margin: 0 auto;
	padding: 15px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.menu a {
	color: white;
}

.menu-logo a {
	font-size: 2.25em;
	font-weight: bold;
	margin: 0 10px;
}

.menu-nav ul {
	display: flex;
	flex-wrap: wrap;
}

.menu-nav a {
	font-size: 1.25em;
	display: block;
	padding: 10px;
}

.menu-nav a:hover{
	color: #3b9ae7;
	transition: 275ms;
}
a{
text-decoration: none;
color: rgb(255, 255, 255);;
}

a:hover{
  opacity: 0.7;
}

nav{
  display: flex;
  
}

.imagem{
  margin-top: 8px;
  width: 4%;
  border-radius: 50%;
  height: 45px;
}

.rodape{
  margin-top: 6%;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.corpo{
  margin-top: 2%;
  text-align: center;
  justify-content: center;
}

h1{
  padding-bottom: 30px;
  color:rgb(255, 255, 255);
  
}

textarea{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border-color:rgb(0, 0, 0) ;
  border-width: 5px;
}

button{
  width: 100px;
  height: 40px;
  border-radius: 40px;
  background-color: #0c0470;
  color: white;
}

button:hover{
  color: white;
  background-color: #1b1577;
}

p{
  margin-top: 30px;
  font-size: 15px;
  color: aliceblue;
}

.ft{
margin-bottom: 20px;
}
